.week-container {
    display: table;
    color: white;
    flex-flow: column;
    height: calc(100vh - 168px);
    box-sizing: border-box;
    height: 100%;
    width: 100%;

    .page-content {
        padding: 32px;
        flex: 1;

        .city {
            font-size: 40px;
            margin: 0;
            margin: 16px 0;
        }
    
        .content {
            color: rgba(0, 0, 0, 0.87);
            display: flex;
            flex-flow: column;
            justify-content: center;
            padding: 32px 0;
            padding-top: 48px;
        
            .cards {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
                grid-auto-rows: 350px;
                column-gap: 0.5em;
                grid-column-gap: 0.5em; /* for older browsers */
                row-gap: 0.5em;
                grid-row-gap: 0.5em; /* for older browsers */
            }

            @media (min-width: 1400px) {
                .cards {
                    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
                }
            }
        }
    }

}